{% extends 'base.html' %}

{% block title %}
  <title>Dashboard Page</title>
{% endblock title %}

{% block form %}
  <div class="container my-4">
    <div class="conatiner my-4"><a href="/addjob" type="button" class="btn btn-success">Add Job</a></div>
    
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     {% for job in jobs %}
    <tr>
      <td>{{job.company}}</td>
      <td>{{job.role}}</td>
      <td>{{job.status}}</td>
      <td>
        <a href="/edit/{{job.id}}" type="button" class="btn btn-success">Edit</a>
        <a href="/delete/{{job.id}}" type="button" class="btn btn-warning">Delete</a>
      </td>
      

    </tr>
    {% endfor %}
  </tbody>
</table>
  </div>
{% endblock form %}